.card{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    font-size: 50px;
    width: fit-content;
    height: fit-content;
}
.orange{
    background-color: rgb(249, 119, 5);
}
.red{
    background-color: rgb(201, 16, 16);
}
.green{
    background-color: rgb(6, 190, 6);
}
.blue{
    background-color: blue;
}